<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Edit Student</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
</head>
<body>
<div class="container">
    <h3>Edit student!</h3>
    <form id="edit-form" th:action="@{'/student/' + ${student.id} + '/edit'}" method="post" th:object="${student}">
        <div class="row">
            <div class="col s4"><label>First Name</label><input class="form-control" type="text" th:field="*{firstName}" /></div>
            <div class="col s4"><label>Middle Name</label><input class="form-control" type="text" th:field="*{middleName}" /></div>
            <div class="col s4"><label>Last Name</label><input class="form-control" type="text" th:field="*{lastName}" /></div>
        </div>
        <div class="row">
            <div class="col s3"><label>Student Id</label><input class="form-control" type="text" th:field="*{sId}" /></div>
            <div class="col s3"><label>Grade Level</label><input class="form-control" type="text" th:field="*{gradeLevel}" /></div>
            <div class="col s3"><label>School Year</label><input class="form-control" type="text" th:field="*{schoolYr}" /></div>
            <div class="col s3"><label>Campus</label><input class="form-control" type="text" th:field="*{campus}" /></div>
            <input th:type="hidden" th:field="*{entryDate}" />
        </div>
        <button class="waves-effect waves-light btn" type="submit" value="submit">Edit Student</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>