<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <style>
        #search-criteria{
            display: block;
            border-radius: 0;
        }
        #query{
            padding-right: 0;
            padding-left: 0;
        }
        .input-field {
            position: relative;
            margin: 0;
        }
        .search-students-button{
            line-height: 3.1em;
            height: 3.1em;
        }
        .collection{
            margin: 0 0;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Welcome to the Student Directory!</h3>
    <form th:action="@{/search}" th:method="post">
        <div class="row">
            <div id="query" class="col s8">
                <input placeholder="Student Search" id="student-search" name="student-search" type="text" />
            </div>
            <div class="input-field col s2">
                <select id="search-criteria" name="search-criteria">
                    <option value="1">General Search</option>
                    <option value="2">First Name</option>
                    <option value="3">Last Name</option>
                    <option value="4">Student ID</option>
                    <option value="5">Grade Level</option>
                    <option value="6">Campus</option>
                    <label>Materialize Select</label>
                </select>
            </div>
            <button class="col s2 search-students-button waves-effect waves-light btn" type="submit" value="submit">Search</button>
        </div>
    </form>
    <div class="row collection table-display">
        <div class="col s2"><h6><strong>Student Id</strong></h6></div>
        <div class="col s2"><h6><strong>First Name</strong></h6></div>
        <div class="col s2"><h6><strong>Middle Name</strong></h6></div>
        <div class="col s2"><h6><strong>Last Name</strong></h6></div>
        <div class="col s2"><h6><strong>Grade Level</strong></h6></div>
        <div class="col s2"><h6><strong>Campus</strong></h6></div>
    </div>
    <div class="row collection" th:each="student : ${allStudents}" >
        <div class="col s2"><h6 th:text="${student.getSId()}"></h6></div>
        <div class="col s2"><h6 th:text="${student.getFirstName()}"></h6></div>
        <div class="col s2"><h6 th:text="${student.getMiddleName()}"></h6></div>
        <div class="col s2"><h6 th:text="${student.getLastName()}"></h6></div>
        <div class="col s2"><h6 th:text="${student.getGradeLevel()}"></h6></div>
        <div class="col s2"><h6 th:text="${student.getCampus()}"></h6></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--<script type="text/javascript" src="../../static/js/materialize.min.js"></script>-->
</body>
</html>